<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">Edit Customer</div>
                <div class="card-body">
                    <form [formGroup]="editCustomerForm" (ngSubmit)="onSubmit()">
                        <div class="mb-3">
                            <label for="name" class="form-label">Customer Name</label>
                            <input type="text" class="form-control" id="name" formControlName="name"
                                [class.is-invalid]="editCustomerForm.get('name')?.touched && editCustomerForm.get('name')?.invalid">
                            <div class="invalid-feedback">Customer name is required</div>
                        </div>
                        <div class="mb-3">
                            <label for="contactNumber" class="form-label">Contact Number</label>
                            <input type="text" class="form-control" id="contactNumber" formControlName="contactNumber">
                        </div>
                        <div class="mb-3">
                            <label for="email" class="form-label">Email</label>
                            <input type="email" class="form-control" id="email" formControlName="email"
                                [class.is-invalid]="editCustomerForm.get('email')?.touched && editCustomerForm.get('email')?.invalid">
                            <div class="invalid-feedback">Invalid email format</div>
                        </div>
                        <div class="mb-3">
                            <label for="address" class="form-label">Address</label>
                            <textarea class="form-control" id="address" formControlName="address"></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary me-2" [disabled]="editCustomerForm.invalid"><i
                                class="bi bi-check-circle me-2"></i>
                            Update</button>
                        <button type="button" class="btn btn-secondary" [routerLink]="['/customer/list']"><i
                                class="bi bi-x-circle me-2"></i>
                            Cancel</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>